---
const { id } = Astro.props;
console.log(id);

// return names.map((name) => ({
//   params: { id: id.slug }, // [artist]=artist.slug
//   props: { id }, // send al data med som props
// }));
// ---

// <div class="tidogscene">
//   <h2>{id.name}</h2>
//   <h2>{id.underoverskrift}</h2>
//   <h1></h1>
// </div>

// <!-- <a href={"/name/" + id.slug}>
//   <div class="flexbox_lineup">
//     <div class="data_singler">
//       <article>
//         <h3>{id.name}</h3>
//         <img src={`/image_url/${id.img}`} alt={id.name} />
//       </article>
//     </div>
//   </div>
// </a> -->
---
